ErrorDocument 404 /404.php
#------------------------------------------------------------------------------
#THIS .HTACCESS IS SIMPLE,BASIC COULD ADD MORE
# TO HELP KEEP REAL DIRECTORYS WORKING WILL NEED TO ADD THIS .HTACCESS FILE TO 
#ALL DIRECTORYS THAT NEED ACCESSING
#below can also add the bis 202 business profile info
#------------------------------------------------------------------------------
Options +FollowSymLinks
RewriteEngine on

RewriteBase /

 <Files "app-ads.txt">
  Header unset Vary 
  </Files>


RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^Article/([^/]+)/?$ index.php?slug=$1 [QSA,L]




RewriteRule ^([^/\.]+)/?$ index.php?seoit=$1





#------------------------------------------------------------------------------
# php errors on of off ............PROFILECRIB................... STATUS ERRORS
php_flag display_errors on

Header set Access-Control-Allow-Origin *

#------------------------------------------------------------------------------
# Server root folder www .htaccess
# This file provides server security limiting access to the localhost only.
# Comment next three lines to deactivate. (Allows external access)
#------------------------------------------------------------------------------

#Order Deny,Allow
#Deny from all
#Allow from 89.243.147.115
Order Allow,Deny
Allow from all
Deny from 63.143.42.

#------------------------------------------------------------------------------
# To allow execution of cgi scripts in this directory uncomment next two lines.
#------------------------------------------------------------------------------

AddHandler cgi-script .pl .cgi
Options +ExecCGI +FollowSymLinks

#------------------------------------------------------------------------------
# Activate this section to use the Private Server Feature!
# Defaults: Username - root; Password - root
# Note AuthUserFile: File path is relative to server root
# To lock server, uncomment the next 4 lines. (A name and password is required)
#------------------------------------------------------------------------------

#AuthName "Profilecrib Server - Server Access"
#AuthType Basic
#AuthUserFile ../../../htpasswd/www/.htpasswd
#Require valid-user